<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>
        {%- if block('title') -%}
            {{- block('title') -}} | DynamicRoles
        {%- else -%}
            {{ "Система динамических ролей - тестовое задание" | trans }} | DynamicRoles
        {%- endif -%}
    </title>

    <!-- Bootstrap core CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet">
    <!-- fa icons -->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    {% block stylesheets %}{% endblock %}
</head>

<body>
<div class="container">
    <div class="row">
        <div class="col-sm-10">
            <div class="row justify-content-center">
                {% if is_granted('ROLE_ADMIN') == true %}
                    <div class="col-sm-2">
                        <a href="{{ path('projects_list') }}" class="btn btn-default form-controller">ПРОЕКТЫ</a>
                    </div>
                    <div class="col-sm-2">
                        <a href="{{ path('user_list') }}" class="btn btn-default form-controller">ПОЛЬЗОВАТЕЛИ</a>
                    </div>
                    <div class="col-sm-2">
                        <a href="{{ path('roles_list') }}" class="btn btn-default form-controller">РОЛИ</a>
                    </div>

                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <div class="col-sm-2 text-right">
                            <a href="{{ logout_path() }}" class="btn btn-warning">Выйти</a>
                        </div>
                    {% endif  %}
                {% else %}
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <div class="col-sm-12 text-right">
                            <a href="{{ logout_path() }}" class="btn btn-warning">Выйти</a>
                        </div>
                    {% endif  %}
                {% endif  %}
            </div>

            {% for flash_message in app.session.flashbag.get('notice') %}
                <div class="alert alert-success">{{ flash_message }}</div>
            {% endfor %}

            {% for flash_message in app.session.flashbag.get('error') %}
                <div class="alert alert-danger">{{ flash_message }}</div>
            {% endfor %}

            {% block content %}{% endblock %}
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.bundle.min.js"></script>
{% block javascripts %}{% endblock %}
</body>
</html>