{% extends '@LocalRoles/layout.html.twig' %}

{% block title %}
    {{ "Авторизация" | trans }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock%}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-sm-4 text-center">
            {{ form_start(form) }}
                <div class="text-center mb-4">
                    <h1 class="h3 mb-3 font-weight-normal">{{ "Авторизация" | trans }}</h1>
                    <p>{{ "Система динамических ролей" | trans }}</p>
                </div>

                {% if errors is not null  %}
                    <div class="alert alert-danger">
                        <p>{{ errors.messageKey|trans(errors.messageData, 'security') }}</p>
                    </div>
                {% endif %}

                <div class="form-group">
                    {{ form_row(form._username) }}
                    {{ form_row(form._password) }}
                </div>

                <hr>
                <button class="btn btn-lg btn-primary btn-block" type="submit">{{ "Авторизоваться" | trans }}</button>
                <p class="mt-5 mb-3 text-muted text-center">&copy; 2018</p>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}