{% extends '@LocalRoles/layout.html.twig' %}

{% block title %}
    {{ "Система динамических ролей" | trans }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock%}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-sm-4 text-center">
            <div class="text-center mb-4">
                <h1 class="h3 mb-3 font-weight-normal">{{ "Панель управления" | trans }}</h1>
                <p>{{ "Система динамических ролей" | trans }}</p>
                <small><i class="fa fa-male" aria-hidden="true"></i> {{ user.username }}</small>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}