{% extends '@LocalRoles/layout.html.twig' %}

{% block title %}
    {{ "Создание роли" | trans }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock%}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-sm-6 text-left">
            <div class="text-center mb-4">
                <h1 class="h3 mb-3 font-weight-normal">{{ "Создание роли" | trans }}</h1>
            </div>

            <div class="mb-12">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <hr>
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <button class="btn btn-lg btn-primary btn-block form-controller" type="submit">{{ "Создать" | trans }}</button>
                    </div>
                    <div class="col-md-6 text-right">
                        <a href="{{ path('roles_list') }}" class="btn btn-default form-controller">{{ "Отмена" | trans }}</a>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}