{% extends '@LocalRoles/layout.html.twig' %}

{% block title %}
    {{ "Роли" | trans }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock%}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-sm-12 text-left">
            <div class="text-center mb-4">
                <h1 class="h3 mb-3 font-weight-normal">{{ "Роли" | trans }}</h1>
                <a class="btn btn-success text-right" href="{{ path('roles_create') }}">
                  {{ "создать новую роль" | trans }}
                </a>
            </div>

            <div class="mb-12">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>{{ "№" | trans }}</th>
                        <th>{{ "Название" | trans }}</th>
                        <th>{{ "Код" | trans }}</th>
                        <th>{{ "Доступ" | trans }}</th>
                        <th>{{ "Действия" | trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for role in roles %}
                        <tr>
                            <td>{{ role.id }}</td>
                            <td>
                                <a href="{{ path('roles_edit', {id: role.id}) }}" title="Редактировать">
                                    {{ role.name }}
                                </a>
                            </td>
                            <td>{{ role.role }}</td>
                            <td>{{ role.permission }}</td>
                            <td>
                                {#% if is_granted('ROLE_ADMIN') %#}
                                    <a href="{{ path('roles_edit', {id: role.id}) }}" title="Редактировать"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                    <a href="{{ path('roles_delete', {id: role.id}) }}" title="Удалить"><i class="fa fa-times" aria-hidden="true"></i></a>
                                {#% endif  %#}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}