{% extends '@LocalRoles/layout.html.twig' %}

{% block title %}
    {{ "Проекты - панель клиента" | trans }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock%}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-sm-12 text-left">
            <div class="text-center mb-4">
                <h1 class="h3 mb-3 font-weight-normal">{{ "Проекты - панель клиента" | trans }}</h1>
                <p>{{ "Система динамических ролей" | trans }}</p>
                <small><i class="fa fa-male" aria-hidden="true"></i> {{ user.username }}</small>
            </div>

            <div class="mb-12">
                {% if projects|length > 0 %}
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>{{ "№" | trans }}</th>
                            <th>{{ "Название" | trans }}</th>
                            <th>{{ "Описание" | trans }}</th>
                            <th>{{ "Дата создания" | trans }}</th>
                            <th>{{ "Действия" | trans }}</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for project in projects %}
                            <tr>
                                <td>{{ project.projectid }}</td>
                                <td>{{ project.title }}</td>
                                <td>{{ project.description  }}</td>
                                <td>{{ project.createdat|date('Y-m-d H:i:s') }}</td>
                                <td>
                                    {% if project.rolepermission == 'view' %}
                                        <a href="{{ path('client_projects_details', {id: project.projectid}) }}" title="Просмотреть"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                    {%  elseif project.rolepermission == 'edit' %}
                                        <a href="{{ path('client_projects_details', {id: project.projectid}) }}" title="Просмотреть"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                        <a href="{{ path('client_projects_edit', {id: project.projectid}) }}" title="Редактировать"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>Не назначены роли.</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}