{% extends '@LocalRoles/layout.html.twig' %}

{% block title %}
    {{ "Данные пользовтеля" | trans }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock%}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-sm-10 text-left">
            <div class="text-center mb-4">
                <h1 class="h3 mb-3 font-weight-normal">{{ "Подробная информация о пользователе" | trans }}</h1>
            </div>

            <div class="mb-12">
                <a href="{{ path('user_list') }}" class="btn btn-default">к списку пользователей</a>
                <hr>
                <h3>{{ user.username }}</h3>
                <p>{{ user.email }}</p>
                <p>{{ user.password }}</p>
                <ul>
                    {% for role in user.roles %}
                        <li>{{ role }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}