{% extends '@LocalRoles/layout.html.twig' %}

{% block title %}
    {{ "Пользователи" | trans }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock%}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-sm-12 text-left">
            <div class="text-center mb-4">
                <h1 class="h3 mb-3 font-weight-normal">{{ "Пользователи" | trans }}</h1>
                <a class="btn btn-success text-right" href="{{ path('user_create') }}">
                    {{ "создать нового пользователя" | trans }}
                </a>
            </div>

            <div class="mb-12">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>{{ "№" | trans }}</th>
                        <th>{{ "Логин" | trans }}</th>
                        <th>{{ "E-mail" | trans }}</th>
                        <th>{{ "Действия" | trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.id }}</td>
                            <td>{{ user.username }}</td>
                            <td>{{ user.email  }}</td>
                            <td>
                                <a href="{{ path('user_details', {id: user.id}) }}" title="Просмотреть"><i class="fa fa-eye" aria-hidden="true"></i></a>

                                {#% if is_granted('ROLE_ADMIN') %#}
                                    <a href="{{ path('user_edit', {id: user.id}) }}" title="Редактировать"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                    <a href="{{ path('user_delete', {id: user.id}) }}" title="Удалить"><i class="fa fa-times" aria-hidden="true"></i></a>
                                {#% endif  %#}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}