{% extends '@LocalRoles/layout.html.twig' %}

{% block title %}
    {{ "Данные проекта" | trans }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock%}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-sm-10 text-left">
            <div class="text-center mb-4">
                <h1 class="h3 mb-3 font-weight-normal">{{ "Подробная информация о проекте" | trans }}</h1>
            </div>

            <div class="mb-12">
                <a href="{{ path('projects_list') }}" class="btn btn-default">к списку проектов</a>
                <hr>
                <h3>{{ project.title }}</h3>
                <p>{{ project.description }}</p>
                <p>Дата создания: {{ project.createdAt|date('Y-m-d H:i:s') }}</p>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}