{% extends '@LocalRoles/layout.html.twig' %}

{% block title %}
    {{ "Проекты" | trans }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock%}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-sm-12 text-left">
            <div class="text-center mb-4">
                <h1 class="h3 mb-3 font-weight-normal">{{ "Проекты" | trans }}</h1>
                <a class="btn btn-success text-right" href="{{ path('projects_create') }}">
                  {{ "создать новый проект" | trans }}
                </a>
            </div>

            <div class="mb-12">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>{{ "№" | trans }}</th>
                        <th>{{ "Название" | trans }}</th>
                        <th>{{ "Описание" | trans }}</th>
                        <th>{{ "Дата создания" | trans }}</th>
                        <th>{{ "Действия" | trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for project in projects %}
                        <tr>
                            <td>{{ project.id }}</td>
                            <td>{{ project.title }}</td>
                            <td>{{ project.description  }}</td>
                            <td>{{ project.createdAt|date('Y-m-d H:i:s') }}</td>
                            <td>
                                <a href="{{ path('projects_details', {id: project.id}) }}" title="Просмотреть"><i class="fa fa-eye" aria-hidden="true"></i></a>

                                {% if is_granted('ROLE_ADMIN') %}
                                    <a href="{{ path('projects_edit', {id: project.id}) }}" title="Редактировать"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                    <a href="{{ path('projects_delete', {id: project.id}) }}" title="Удалить"><i class="fa fa-times" aria-hidden="true"></i></a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}